__pycache__/block.cpython-311.pyc
instance/database.db
frontend/src/components/config.js
**/venv/**
**/__pycache__/**
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
