.transaction-container {
  background-color: #525458;
  padding: 20px;
  border-radius: 4px;
}

.transaction-form {
  margin-bottom: 10px;
}

.transaction-form label {
  display: block;
  margin-bottom: 5px;
}

.transaction-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
